body{
    margin: 0px;
}

#myCanvas{
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
}

#myMenu{
    position: fixed;
    padding: 10px;
    left: 80%;
    top: 0;
    width: 80%;
    height: 100%;
}

#myMenu div{
    margin: 20px 20px 20px 0px;
}

#myMenu div label{
    display: block;
    margin: 0px 40px 40px 0px;
}

#myMenu div button{
    width: 20%;
    height: 50px;
}

#stepCountLabel{
    font-weight: bold;
}